<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kurnivan_ny.foodit">

    <!-- PERMISSION USED -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.MaterialComponents.Light.noActionBar"
        android:screenOrientation="sensorPortrait"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.auth.LupaPasswordActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.main.orinput.EditORActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.main.orinput.InputORActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.main.orinput.InputOR2Activity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.main.manualinput.EditDetailMakananActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.main.manualinput.DetailMakananActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.main.manualinput.SearchMakananActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.main.manualinput.ManualInputActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.main.activity.HomeActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.auth.RegisterAkunActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.auth.RegisterActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.auth.LoginActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.onboarding.OnBoardingActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false" />
        <activity
            android:name="com.kurnivan_ny.foodit.view.ui.splashscreen.SplashScreenActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>